<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Hello</h1>
    <!-- <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam ad vitae quas perferendis voluptatum necessitatibus reiciendis omnis deleniti eos, laborum ut porro earum exercitationem nostrum expedita in quasi iste optio?</p> -->

    <h2>Python code</h2>
    <h3>Name Iterations</h3>
    {% for x in content %}
    <p>{{x}}</p>
    {% endfor %}
    <h3>Number loops</h3>
    {% for i in range(0,11) %} {% if i % 2 == 0 %}
    <p>{{ i }}</p>
    {% endif %} {% endfor %}
  </body>
</html>
